

/*****Components*********/

.button:link, .button:visited {
    color: white;
    background-color:#9abcf8;
    text-align: center;
    text-decoration: none;
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    box-shadow: 0 .125rem .5rem rgba(0, 0, 0, .15);
    display: inline-block;
    margin: 0 .25rem .25rem 0;
    transition: background-color 0.5s ease;
}
.button:hover {
    background-color: #475978;

}


/*****New CSS************/
div#background {
    background-color: white;
    width: 1440px;
    margin: auto;
}
div#nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0 10%;
    flex-direction: row;
}
div#nav li {
    list-style: none;
    padding: 5px;

}
div#section1 {
    background-image:url(https://pisces.bbystatic.com/image2/BestBuy_US/images/products/c3abe0d2-3129-4e47-8904-aadaf47eb4af.jpg;maxHeight=427;maxWidth=640?format=webp)
    background-size: cover;
    height: 100vh;

}